.navbar-custom {
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}

.navbar-logo {
  height: 9vh;
  width: auto;
  object-fit: contain;
}

.navbar-nav {
  margin-right: 1rem;
}

.jumbotron {
  background-image: url('images/Background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}